<section id="page-breadcrumb">
  <div class="vertical-center setup">
    <div class="container">
      <div class="row">
        <div class="action">
          <div class="col-sm-12">
            <h1 class="title">Angular 2 Setup</h1>
            <p>Angular 2 setup a local development in your working environment</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="introduction">
  <div class="container" style="padding-top: 30px;">
    <div class="row">
      <div class="col-sm-12">
        <p>Take a look at the all steps needed to set up a test-driven Angular 2 project. In this article, we'll
          be looking at the setup required to create an Angular 2 project. We'll cover various required
          technologies and their configurations. Before getting started, we should make sure that we have
          everything we need for the setup to create Angular 2 project. You aleary know that Angular 2 is a
          modern framework for developing JavaScript applications. It is the second major version of the
          extremely popular Angular framework by Google. It was written from the ground up using TypeScript to
          provide a modern, robust development experience to the Developer.</p>
      </div>
    </div>
  </div>
</section>

<section id="features">
  <div class="container">
    <div class="row">
      <div class="single-features">
        <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
          <a href="https://nodejs.org/en/download/" target="_blank"><img
            src="../assets/images/setup/node-js-setup-angular-2.png" class="img-responsive"
            alt="node js setup angular 2 image"></a>
        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <h2>Set up / Install Node JS Environment</h2>
          <ul class="elements">
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Download the Node.js installable archive file from Node.js
              web site.
            </li>

            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Please choose the installabe archive file as per your
              operating system as below
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i><b>Windows:</b> node-v6.x-x64.msi
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i><b>Linux:</b> node-v6.x-linux-x86.tar.gz
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i><b>Mac OS:</b> node-v6.x-darwin-x86.tar.gz
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i><b>SunOS:</b> node-v6.x-sunos-x86.tar.gz
            </li>
          </ul>
        </div>
      </div>

      <div class="container" style="padding-top: 30px;">
        <div class="row">
          <div class="col-sm-12">
            <p>After successfully installation of the Node.js you need to install the angular-cli. It's so
              easy to
              setup the angular-cli. Please find the below sets for the installation of the angular-cli on
              your
              local environment. The Angular 2 CLI makes it easy to create an application that just works
              out of the box.</p>
          </div>
        </div>
      </div>

      <div class="single-features">
        <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms"
             data-wow-delay="300ms">
          <h2>Set up / Install Node JS Environment</h2>
          <ul class="elements">
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>The Angular CLI makes it so easy and simple to create an
              angular 2 application with few steps and configuration
              speed
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Please check the information about the Angular CLI from
              this <a href="https://cli.angular.io/" target="_blank">link</a>
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Run the command on command prompt <b>"npm install -g
              @angular/cli"</b>
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>To update Updating Angular CLI please follow below
              commands
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i><b>npm uninstall -g angular-cli</b>
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i><b>npm uninstall --save-dev angular-cli</b>
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i><b>For the Global package:</b>
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i><b>npm uninstall -g @angular/cli</b>
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i><b>npm cache clean</b>
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i><b>npm install -g @angular/cli@latest</b>
            </li>
          </ul>
        </div>
        <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <a href="https://cli.angular.io/" target="_blank"><img
            src="../assets/images/setup/angular-cli-setup-angular-2.png" class="img-responsive"
            alt="angular cli setup angular 2 image"></a>
        </div>
      </div>
      <div class="single-features">
        <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
          <img src="../assets/images/setup/angular-2-hello-world-folder-structure.png" class="img-responsive"
               alt="pros and cons/advantages and disadvantages Angular2 image"> <br>
          <img src="../assets/images/setup/ng-serve.png" class="img-responsive"
               alt="ng-serve run Angular2 application image">
        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <h2>Create Hello World Project from Angular CLI</h2>
          <ul class="elements">
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Creating project with Angular CLI is so simple just put
              this line on command window <b>ng new &lt; PROJECT_NAME > </b>
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>If you seen in the left side image it's create the project
              structure after hitting the command on command line i.e. <b>ng new hello-world </b>
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i> You can run your application with help of command <b>ng
              serve</b>
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>It can navigate to http://localhost:4200/. The app will
              automatically reload if you change any of the source files in the editor.
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>You can configure the default HTTP host and port used by
              the development server with simple two command-line options <b>ng serve --host 0.0.0.0
                --port
                4201</b>
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>To more informaiton you can navigate to this Angular CLI
              <a href="https://github.com/angular/angular-cli" target="_blank">Know More</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="single-features">
        <h2>Application output while you run the Angular 2</h2><br>
        <div class="col-sm-6 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
          <img src="../assets/images/setup/angular-2-loading-app.png" class="img-responsive"
               alt="loading message Angular 2 image">

        </div>
        <div class="col-sm-6 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
          <img src="../assets/images/setup/app-works.png" class="img-responsive"
               alt="app work angular 2 application image">
        </div>
      </div>
    </div>
  </div>
</section>
