<section id="page-breadcrumb">
  <div class="vertical-center sun">
    <div class="container">
      <div class="row">
        <div class="action">
          <div class="col-sm-12">
            <h1 class="title">Angular 2 Introduction</h1>
            <p>Speed & Performance, modular and mobility driven</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="introduction">
  <div class="container" style="padding-top: 30px;">
    <div class="row">
      <div class="col-sm-12">
        <p>Angular 2 is entirely component based. Controllers and $scope are no longer used in Angular 2. They
          have been replaced by components and directives. Components are directives with a template. AtScript
          is a language that is a superset of ES6 and it's being used to author Angular 2.0. It uses
          TypeScript's type syntax to represent optional types which can be used to generate runtime type
          assertions, rather than compile-time checks.</p>
      </div>
    </div>
  </div>
</section>

<section id="features">
  <div class="container">
    <div class="row">
      <div class="single-features">
        <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
          <img src="../assets/images/introduction/angular-2-introduction.png" class="img-responsive"
               alt="time honored page refresh image">
        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <h2>Why Angular 2?</h2>
          <ul class="elements">
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 is 5 times faster as compared to Angular 1.x
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 is mobile oriented & better in performance and
              speed
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 provides more choice for languages (Type Scrip,
              etc.)
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 implements web standards like components
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 is not that easy to setup as AngularJS 1.x
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 controllers and $scope has gone
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 has different ways to define local variables
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 has structural directives syntax is changed
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 uses camelCase syntax for built-in directives
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 directly uses the valid HTML DOM element
              properties and events
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 has One-way data binding directive replaced with
              [property]
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 has Two-way data binding: ng-model replaced with
              [(ngModel)]
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 has way of Bootstrapping Angular Application is
              changed
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 has ways of Dependency Injection is Changed-
              syntax changed
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 has way of routing is Changed- syntax changed
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 has very powerful routes
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Angular 2 Router will only load components when it
              absolutely needs them
            </li>
          </ul>
        </div>
      </div>
      <div class="single-features">
        <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms"
             data-wow-delay="300ms">
          <h2>Same Code Sharing Between Web & Mobile Apps</h2>
          <p>Compare to Angular 1.x it was not built with mobile support but Angular 2 is mobile oriented and
            fully supported. Angular 2 is using Hierarchical Dependency Injection system which is major
            performance booster. Angular 2 implements unidirectional tree based change detection which again
            increases performance. As per ng-conf meetup, angular 2 is 5 times faster as compared to angular
            1.</p>
        </div>
        <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <img src="../assets/images/introduction/angular-2-same-code-web-mobile.png" class="img-responsive"
               alt="angularJS page refresh image">
        </div>
      </div>
      <div class="single-features">
        <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
          <img src="../assets/images/introduction/pros-cons-angular-2.png" class="img-responsive"
               alt="pros and cons/advantages and disadvantages Angular2 image">
        </div>
        <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <h2>What are the advantages and disadvantages of using Angular2</h2>
          <h3>Advantages (Pros)</h3>
          <ul class="elements">
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>The Testability of the code will be improved by decoupling
              DOM manipulation from application logic in Angular 2
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>In Angular 2 client side will be decoupled from the server
              side, so development work will progress in parallel. It will improved productivity
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>In Angular 2 the amount of JavaScript coding will be
              reduced
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>In Angular 2 no need to programmatically manipulate the
              DOM
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>In Angular 2 code will not describe the implementation
              details, but only the overall flow of the application
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>In Angular 2 will auto-inject services into the
              application and you will be able to develop features quickly in Application. Google promises
              that you will get full control over the initialization process in
              automated tests
            </li>
          </ul>
          <h3>Disadvantages (Cons)</h3>
          <ul class="elements">
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>It's complete different coding styles and and until
              Developer
              get used to Angular 2, they will struggle a little to understand how to integrate different
              components
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>Developers have different coding styles so need to learn
              the code
            </li>
            <li class="wow fadeInUp" data-wow-duration="900ms" data-wow-delay="100ms"><i
              class="fa fa-angle-right"></i>In Angular 2 you can do the same thing with multiple ways
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#page-breadcrumb-->
