<section id="page-breadcrumb">
  <div class="vertical-center sun">
    <div class="container">
      <div class="row">
        <div class="action">
          <div class="col-sm-12">
            <h1 class="title">{{title}}</h1>
            <p>{{pageTitleDescription}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#page-breadcrumb-->
<section id="company-information" class="padding-top">
  <div class="container">
    <div class="row">
      <div class="about-us">
        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="row">
            <div class="col-sm-5">
              <img src="../assets/images/aboutus/about-me.png" class="img-responsive" alt="about me image">
            </div>
            <div class="col-sm-7">
              <h3 class="top-zero">Bechar C Kanjariya</h3>
              <p>{{pageDescription}}
                <!--Hi there! thanks for dropping by<br> <br>
                I have a passion for creating value in the form of functional, reliable software and
                websites. My current focus is AngularJS. Earlier in my career, I worked with Flash,
                Flex, ActionScript 2.0/3.0 and other Adobe technologies.<br> <br>

                I enjoy too teaching and tutoring from time to time. I have trained more than 30
                freshers and experienced developer on AngularJS alone. I also teach complete front end
                development using HTML5, CSS3, and JavaScript.<br> <br>

                I have done Micro Consulting and a number of projects for multiple start-up
                and large organisations. I am an enthusiastic practitioner of best practices regarding
                testing, code clarity etc.<br> <br>

                If you would like to get in touch, send me an email at angularjstutorials@gmail.com or
                message me on twitter @angularjstutorials<br> <br>

                See you again on the AngularJSTutorials.net !--></p>
            </div>
          </div>
        </div>
        <div class="col-sm-5 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="our-skills">
            <h2 class="bold">My Skills</h2>
            <div class="single-skill">
              <h3>AngularJS 1.X</h3>
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                     aria-valuemax="100" style="width: 85%">
                  85%
                </div>
              </div>
            </div>
            <div class="single-skill">
              <h3>AngularJS 2.X</h3>
              <div class="progress">
                <div class="progress-bar progress-bar-ajs2 six-sec-ease-in-out" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                     aria-valuemax="100" style="width: 80%">80%
                </div>
              </div>
            </div>
            <div class="single-skill">
              <h3>HTML</h3>
              <div class="progress">
                <div class="progress-bar progress-bar-html" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                     aria-valuemax="100" style="width: 80%">80%
                </div>
              </div>
            </div>
            <div class="single-skill">
              <h3>Action Script 3.0 / Flash / Flex</h3>
              <div class="progress">
                <div class="progress-bar progress-bar-as six-sec-ease-in-out" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                     aria-valuemax="100" style="width: 75%">75%
                </div>
              </div>
            </div>
            <div class="single-skill">
              <h3>Design</h3>
              <div class="progress">
                <div class="progress-bar progress-bar-design six-sec-ease-in-out" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                     aria-valuemax="100" style="width: 60%">60%
                </div>
              </div>
            </div>
            <div class="single-skill">
              <h3>CSS</h3>
              <div class="progress">
                <div class="progress-bar progress-bar-css six-sec-ease-in-out" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                     aria-valuemax="100" style="width: 50%">50%
                </div>
              </div>
            </div>
            <div class="single-skill">
              <h3>Liferay</h3>
              <div class="progress">
                <div class="progress-bar progress-bar-liferay six-sec-ease-in-out" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                     aria-valuemax="100" style="width: 50%">50%
                </div>
              </div>
            </div>
            <div class="single-skill">
              <h3>Java</h3>
              <div class="progress">
                <div class="progress-bar progress-bar-java six-sec-ease-in-out" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                     aria-valuemax="100" style="width: 45%">45%
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#company-information-->
